@import "styles/variables";

.pagination {
  &__container {
    display: flex;
    margin: 0 auto;
    width: fit-content;
  }

  &__arrow {
    &_next {
      transform: rotateY(180deg);
    }
  }

  &__arrow,
  &__item {
    background: $gradient-pink;
    border-color: transparent;
    color: $red;
    margin-right: 5px;
  }

  &__arrow:disabled {
    color: $disabled-color;
    stroke: $disabled-color;
  }

  &__item {
    margin-right: 5px;
    min-width: 38px;
    padding: 10px;

    &_active {
      background: $gradient-pink-hover;
    }
  }
}
