@import "styles/mixins";
@import "styles/variables";

.loader {
  @include flex-center;

  height: 600px;

  &__circle {
    @include rounded;

    animation: rotation 1s linear infinite;

    &_size {
      &-s {
        @include loader-size(20px, 3px, $red);
      }

      &-m {
        @include loader-size(40px, 4.5px, $red);
      }

      &-l {
        @include loader-size(60px, 6px, $red);
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(395deg);
  }
}
