@import "styles/mixins";
@import "styles/variables";

.input {

  @include width-height(100%, 36px);

  @include font-params(12px, 0.01em, 400, 16px, #000000);

  background: $gradient-pink;
  border: 0;

  border-radius: $standard-radius;
  max-width: 366px;
  outline: 0;
  padding: 10px;

  &::placeholder {
    color: $dark-grey;
    opacity: 0.5;
  }

  &:focus {
    background: $gradient-pink-focused;
  }

  &_disabled {
    background: $gradient-grey;
    color: $black;
    cursor: default;
  }
}
