.input {
  max-width: 366px;
  width: 100%;
  height: 36px;
  background: linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
  color: #000000;
  font-family: 'Avenir', serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border-radius: 7px;
  padding: 10px;
  border: 0;
  outline: 0;

  &::placeholder {
    color: #3B3B3B;
    opacity: 0.5;
  }

  &:focus {
    background: linear-gradient(98.81deg, #FFBCBC -0.82%, #FFA1A1 101.53%);
    color: #000000;
  }

  &_disabled {
    background: linear-gradient(98.81deg, #F2F2F2 -0.82%, #D9D9D9 101.53%);
    cursor: default;
    color: #3B3B3B;
  }
}