@import "@styles/variables";

.button {
    padding: 15px 28px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not([disabled]):hover {
        opacity: 0.7;
    }

    &:disabled, &_disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
    }

    &_color-primary {
        background-color: $main-color;
        color: $screen-color;
    }

    &_color-secondary {
        background-color: $screen-color;
        color: $text-color;
        border: 2px solid $line-color;
    }

    & .loader {
        margin-left: -10px;
        margin-right: 10px;
        border-color: $screen-color;
        border-bottom-color: $disabled-color;
    }
}