.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__content {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #FF0000;
}

.card__add-button {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  position: relative;
  padding: 0;

  &:hover {
    background-color: #ff0000;
  }

  & span {
    display: block;
    width: 12px;
    height: 1.5px;
    background-color: #ffffff;
    border-radius: 1.5px;

    &:last-child {
      position: absolute;
      transform: rotate(90deg);
    }
  }
}