@import "@styles/variables";

.pagination {
  &__container {
    display: flex;

    width: fit-content;
    margin: 0 auto;
    padding: 80px 0 45px;
  }

  &__arrow {
    padding: 10px 25px;

    &_previous {
      transform: rotateY(180deg);
    }
  }

  &__arrow,
  &__arrow:disabled {
    background-color: $screen-color;
    border-color: transparent;
  }

  &__arrow:disabled * {
    color: $disabled-color;

    stroke: $disabled-color;
  }

  &__item {
    min-width: 38px;
    padding: 10px;
  }
}