@import "styles/mixins";
@import "styles/variables";

.card__info {
  flex-grow: 1;
  margin-bottom: 5px;
}

.card__title {
  @include font-params(18px, -0.03em, 500, 25px, $black);

  overflow: hidden;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__subtitle {
  @include font-params(12px, -0.03em, 400, 1.5em, $dark-grey);

  overflow: hidden;

  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;

  opacity: 0.5;
}
