@import "styles/mixins.scss";
@import "styles/variables.scss";

.card__info {
  margin-bottom: 5px;
}

.card__title {
  @include fontParams(18px, -0.03em, 500, 25px, $black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.card__subtitle {
  @include fontParams(12px, -0.03em, 400, 16px, $darkGrey);
  opacity: 0.5;
  text-transform: capitalize;
}
