@mixin gradient($leftColor, $rightColor) {
  background: linear-gradient(98.81deg, $leftColor -0.82%, $rightColor 101.53%);
}

@mixin width-height($width, $height) {
  height: $height;
  width: $width;
}

@mixin top-left($top, $left) {
  left: $left;
  top: $top;
}

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-ac {
  align-items: center;
  display: flex;
}

@mixin flex-as {
  align-items: flex-start;
  display: flex;
}

@mixin flex-ae {
  align-items: flex-end;
  display: flex;
}

@mixin flex-jsb {
  display: flex;
  justify-content: space-between;
}

@mixin flex-ac-jsb {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin loader-size($loaderSize, $borderSize, $color) {
  @include width-height($loaderSize, $loaderSize);

  border: $borderSize solid $color;
  border-right: $borderSize solid transparent;
}

@mixin rounded {
  border-radius: 50%;
}

@mixin font-params($size, $letterSpacing, $weight, $lineHeight, $color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
}
