// Colors
$black: #0d0d0d;
$dark-grey: #3b3b3b;
$disabled-color: #d9d9d9;
$non-selected-color: #fff7f7;
$pale-red: #f55;
$red: #f00;
$selected-color: #ffe5e5;
$white: #fff;

// Gradients
$gradient-grey: linear-gradient(98.81deg, #f2f2f2 -0.82%, #d9d9d9 101.53%);
$gradient-pink: linear-gradient(98.81deg, #fff0f0 -0.82%, #ffdfdf 101.53%);
$gradient-pink-focused: linear-gradient(98.81deg, #ffbcbc -0.82%, #ffa1a1 101.53%);
$gradient-pink-hover: linear-gradient(98.81deg, #ffdfdf -0.82%, #ffa2a2 101.53%);

// Radius
$standard-radius: 7px;
