// Colors

$text-color: #151411;
$paragraph-color: #AFADB5;
$screen-color: #FFFFFF;
$main-color: #518581;
$placeholder-color: #F9F9F9;
$line-color: #F3F3F3;
$sinbad-color: #A6D8D1;
$lime-oak-color: #AD7E5C;
$disabled-color: #D9D9D9;
$shadow-color: #F3F3F4;
