// Colors

$text-color: #151411;
$paragraph-color: #afadb5;
$screen-color: #ffffff;
$main-color: #518581;
$placeholder-color: #f9f9f9;
$line-color: #f3f3f3;
$sinbad-color: #a6d8d1;
$lime-oak-color: #ad7e5c;
$disabled-color: #d9d9d9;
$shadow-color: #f3f3f4;

// Size
$header-height: 120px;
