// Colors
$black: #0D0D0D;
$darkGrey: #3B3B3B;
$disabledColor: #D9D9D9;
$nonSelectedColor: #FFF7F7;
$paleRed: #FF5555;
$red: #FF0000;
$selectedColor: #FFE5E5;
$white: #FFFFFF;

// Gradients
$gradientGrey: linear-gradient(98.81deg, #F2F2F2 -0.82%, #D9D9D9 101.53%);
$gradientPink: linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
$gradientPinkFocused: linear-gradient(98.81deg, #FFBCBC -0.82%, #FFA1A1 101.53%);
$gradientPinkHover: linear-gradient(98.81deg, #FFDFDF -0.82%, #FFA2A2 101.53%);

// Radius
$standardRadius: 7px;