@import "@styles/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 28px;

  font-size: 18px;
  font-weight: 700;

  border: 2px solid transparent;
  outline: none;

  &:disabled {
    pointer-events: none;
    cursor: default;

    background-color: $disabled-color;
    border-color: $disabled-color;
  }

  &:not([disabled]):hover {
    opacity: 0.7;
  }

  &_color-primary {
    color: $screen-color;

    background-color: $main-color;
    border-color: $main-color;
  }

  &_color-secondary {
    color: $text-color;

    background-color: $screen-color;
    border-color: $line-color;
  }
}
