@import "@styles/variables";

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 394px;

    &__top {
        flex-grow: 1;
    }

    &__bottom {
        margin-top: 10px;
    }

    &__image {
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__category {
        color: $paragraph-color;
        margin-top: 26px;
        text-transform: capitalize;
    }

    &__title {
        letter-spacing: 0.01em;
        margin-top: 14px;
        display: flex;
        align-items: flex-start;
        color: $text-color;
    }

    &__subtitle {
        color: $paragraph-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.5em;
    }

    &__content {
        margin-top: 18px;
        color: $text-color;
    }
}
