@import "styles/mixins";
@import "styles/variables";

.app {

  @include width-height(100%, 100%);

  position: relative;

  max-width: 375px;
  margin: 0 auto;

  background: #fff url("svg/Pattern.svg") top right no-repeat;
  border-radius: 10px;
}
