@import "styles/mixins";
@import "styles/variables";

.app {
  max-width: 375px;
  height: 840px;
  margin: 0 auto;

  background: #fff url("svg/Pattern.svg") top right no-repeat;
  border-radius: 10px;

  &__container {
    height: 100%;
  }
}
