@import "styles/mixins";
@import "styles/variables";

.recipe__header {

  @include top-left(0, 0);
  left: 0;
  top: 0;
}

.recipe__image {
  max-width: 100%;
  position: relative;

  img {
    //& img {
    @include width-height(100%, 100%);

    object-fit: cover;
  }
}

.recipe__button-back {

  @include top-left(38px, 19px);
  @include width-height(45px, 45px);

  @include flex-center;

  background: rgb(255 0 0 / 10%);
  position: absolute;
}
