@import "styles/mixins";
@import "styles/variables";

.recipe {
  height: 100%;

  &__loader {
    @include width-height(100%, 100%);

    background-color: $white;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 24px;
  }
}

