@import "@styles/variables";

.input {
  display: block;

  padding: 26px 29px;

  font-size: 18px;
  font-weight: 500;
  line-height: 180%;

  box-shadow: 0 4px 120px $shadow-color;

  &::placeholder {
    color: $paragraph-color;
  }

  &:disabled {
    pointer-events: none;

    opacity: 0.7;

    &::placeholder {
      opacity: 0.7;
    }
  }

  &:not([disabled]):focus {
    outline: 1px solid $main-color;
  }


}
