@import "@styles/variables";

.input {
  display: block;
  box-shadow: 0 4px 120px $shadow-color;
  padding: 26px 29px;
  font-size: 18px;
  line-height: 180%;
  font-weight: 500;

  &:not([disabled]):focus {
    outline: 1px solid $main-color;
  }

  &::placeholder {
    color: $paragraph-color;
  }

  &:disabled {
    &::placeholder {
      opacity: 0.7;
    }

    opacity: 0.7;
    pointer-events: none;
  }
}
