@import "styles/mixins";
@import "styles/variables";

.multi-dropdown {

  @include font-params(12px, 0.01em, 400, 16px, $black);
  max-width: 367px;
  min-height: 36px;
  width: 100%;
  cursor: pointer;

  &_disabled {
    .multi-dropdown__selected {
      //& .multi-dropdown__selected {
      background: $gradient-grey;
    }
  }

  &_picked {
    color: #000;
  }

  &__selected {

    @include flex-ac;
    background: $gradient-pink;
    border-radius: $standard-radius;
    height: 36px;
    overflow: hidden;

    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    text-transform: capitalize;

    &_empty {
      color: $dark-grey;
    }
  }

  &__options {

    animation: appear 0.3s ease-in;
    height: 0;
    top: 0;
    transition: all 0.3s ease-in;
  }
}
@keyframes appear {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

