.multi-dropdown__option {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    border-radius: 7px 7px 0 0;
  }

  &:last-child {
    border-radius: 0 0 7px 7px;
  }

  &_selected {
    background-color: #FFE5E5;
  }
}