@import "@styles/variables";

.search {
  &__container {
    display: flex;
    gap: 29px;
    align-items: flex-start;

    margin-top: 80px;
  }

  &__input {
    position: relative;

    display: flex;
    flex-basis: 1021px;
    flex-grow: 1;
    flex-shrink: 1;

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);

      display: block;

      width: 32px;
      height: 32px;

      background-image: url(../../../../assets/icons/search-icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    & input {
      width: 100%;
      padding: 26px 184px 26px 75px;
    }

    & button {
      position: absolute;
      top: 50%;
      right: 28px;
      transform: translateY(-50%);
    }
  }
}
