@import "styles/mixins";
@import "styles/variables";

.checkbox {
  &_disabled {
    .checkbox__box {
      //& .checkbox__box {
      background: $gradient-grey;
    }

    .checkbox__input:checked + .checkbox__box .checkbox__flag {
      //& .checkbox__input:checked + .checkbox__box .checkbox__flag {
      border-bottom-color: $dark-grey;
      border-left-color: $dark-grey;
    }
  }

  &:active .checkbox__box,
  &:hover .checkbox__box {
    background: $gradient-pink-hover;
  }

  &__input {
    appearance: none;
    appearance: none;
    position: absolute;
  }

  &__box {
    @include width-height(20px, 20px);

    @include flex-center;
    background: $gradient-pink;
    border-radius: $standard-radius;

    overflow: hidden;
  }

  &__input:checked + .checkbox__box .checkbox__flag {
    @include width-height(7.5px, 5px);
    border-bottom: 2px solid $pale-red;

    border-left: 2px solid $pale-red;
    margin-top: -1px;
    transform: rotate(-45deg);
  }
}
