@import "styles/mixins";
@import "styles/variables";

.multi-dropdown__option {

  @include flex-ac;
  height: 36px;
  overflow: hidden;

  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:first-child {
    border-radius: $standard-radius $standard-radius 0 0;
  }

  &:last-child {
    border-radius: 0 0 $standard-radius $standard-radius;
  }

  &_selected {
    background-color: $selected-color;
  }
}
