@import "@styles/variables";

.products {}

.list__size {
  padding: 10px 16px;
  border-radius: 20px;
  background-color: $placeholder-color;
  color: $main-color;
  font-size: 16px;
  margin-left: 10px;
}

