@import "@styles/variables";

.card {
  display: flex;
  flex-direction: column;

  max-width: 394px;
  height: 100%;

  & span {
    display: block;
  }

  &__top {
    flex-grow: 1;
  }

  &__bottom {
    margin-top: 10px;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 360px;
  }

  &__category {
    margin-top: 26px;

    color: $paragraph-color;
    text-transform: capitalize;
  }

  &__title {
    display: flex;
    align-items: flex-start;

    margin-top: 14px;

    color: $text-color;
    letter-spacing: 0.01em;
  }

  &__description {
    overflow: hidden;

    height: 1.5em;

    color: $paragraph-color;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__price {
    margin-top: 18px;

    color: $text-color;
  }
}
