@import "@styles/variables";

.list {
  margin-top: 50px;

  &__header {
    display: flex;
    align-items: center;
  }

  &__size {
    margin-left: 10px;
    padding: 10px 16px;

    font-size: 16px;
    color: $main-color;

    background-color: $placeholder-color;
    border-radius: 20px;
  }

  &__products {
    padding-bottom: 40px;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin-top: 50px;
}
