@import "styles/mixins";
@import "styles/variables";

.recipe__body {
  background: $white;
  border-radius: $standard-radius;
  margin-top: -10px;
  padding: 68px 16px 12px 36px;
  position: relative;

  &::after {

    @include top-left(18px, 50%);

    @include width-height(58px, 5px);
    background: #ffcbcb;

    border-radius: 12px;
    content: "";
    display: block;
    position: absolute;

    transform: translate(-50%, 0);
  }
}

.recipe__title {

  @include font-params(27px, 0, 500, 35px, #09051C);
  margin-bottom: 16px;
}

.recipe__info {
  display: flex;
  margin-bottom: 27px;
}

.recipe__time {
  margin-right: 30px;
}

.recipe__time,
.recipe__rating {
  @include font-params(14px, 0.5px, 400, 19px, rgba(59, 59, 59, 0.3));
  @include flex-ac;

  svg {
    margin-right: 15px;
  }
}

.recipe__icon {
  margin-right: 15px;
}

.recipe__description {
  font-size: 12px;

  .recipe__summary {
    margin-bottom: 34px;
    @include font-params(12px, 0, 500, 180%, #000000);
  }

  .recipe__ingredient {
    margin-left: 35px;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
