.card__info {
  margin-bottom: 5px;
}

.card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #0D0D0D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.card__subtitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(59, 59, 59, .5);
  text-transform: capitalize;
}